body {
	background-image: url(http://s3.amazonaws.com/everystockphoto/fspid30/31/20/26/0/tileable-classic-nebula-3120260-o.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

#pagetitle {
	text-align: center;
}

#solarSystemDiv {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	margin: 1%;
}

#planetDiv {
    width: 60%;
	padding: 20px;
	border: 2px solid white;
	border-radius: 10% 25% 10% 10%;
	margin-bottom: 1%;
}

.planetContent {
	display: block;
	width: 50%;
	float: left;
}

img {
	padding: 25px;
	width: 300px;
	float: right;
}
